:root {
  /* colours */
  --veryDarkBlue: #1b1d23;
  --darkGrey: #60636d;
  --mediumGrey: #7d828f;
  --lightGrey: #c8ccd8;
  --veryLightGrey: #eeeff4;
  --red: #df5656;
  --white: #ffffff;

  /* type */
  --h1: 7.5rem;
  --h2: 3rem;
  --h3: 2.5rem;
  --h4: 1.125rem;
  --body-text: 0.9375rem;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  padding: 2rem;
  position: relative;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: var(--body-text);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

/* headers */
h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
  line-height: 1.2;
  letter-spacing: -1.43px;
  font-weight: 700;
}

h4 {
  font-size: var(--h4);
}

.page--title {
  color: var(--veryLightGrey);
}

.page--subtitle {
  color: var(--veryDarkBlue);
}

p {
  color: var(--darkGrey);
  line-height: 1.67;
}

/* links */
a {
  text-decoration: none;
  cursor: pointer;
}

.nav--link {
  color: var(--veryDarkBlue);
  font-weight: 700;
  margin-top: 2em;
}

.nav--link:first-child {
  margin-top: 0;
}

.nav--link:hover {
  color: var(--veryDarkBlue);
}

@media (min-width: 600px) {
  .nav--link {
    color: var(--mediumGrey);
  }
}

.featured--portfolio {
}

/* buttons */

.btn {
  color: var(--white);
  background-color: var(--veryDarkBlue);
  border: none;
  padding: 1.5em 2em;
  cursor: pointer;
  display: flex;
  line-height: 1.67;
}

.btn:hover,
.btn:focus {
  background-color: var(--darkGrey);
}

.btn:active {
  background-color: var(--lightGrey);
}

.btn svg {
  margin-left: 1.5rem;
}

.menu-btn {
  border: none;
  background: transparent;
}

.icon-arrow {
  stroke: var(--white);
}

/* containers */

.container-outer {
  padding: 0;
}

.container-inner {
  padding: 0 2rem;
}

.project--container {
  padding-top: 6.875rem;
  padding-bottom: 6.875rem;
}
/* sidebar */

.sidebar {
  display: none;
}

@media (min-width: 600px) {
  .sidebar {
    display: initial;
    position: sticky;
    writing-mode: vertical-rl;
    top: 0;
  }
}

/* navigation */

.nav-group {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 4.85rem;
}

.nav {
  background-color: var(--veryLightGrey);
  display: flex;
  flex-direction: column;
  font-size: var(--h4);
  padding: 3rem;
  width: 100%;
  position: absolute;
  top: 100%;
  transform: translateX(100%);
  z-index: 1;
  transition: 280ms all 120ms ease-out;
}

.nav-open {
  overflow: hidden;
}

.nav-open .nav {
  transform: translateX(0%);
}

main {
  position: relative;
}

.nav-open .modal {
  opacity: 0.5;
  z-index: 0;
}

.modal {
  position: absolute;
  opacity: 0;
  transition: 280ms all 120ms ease-in-out;
  background-color: #000000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

/* hero */

.project {
  color: var(--white);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.35);
  background-blend-mode: overlay;
}

.project--title {
  letter-spacing: -1.2px;
  font-weight: 700;
  line-height: 1;
}

.project--text {
  margin-top: 1em;
  margin-bottom: 3.8em;
  color: var(--white);
}

.btn-group {
  display: none;
}

.project-paramour {
  background-image: url("./assets/home/mobile/image-hero-paramour.jpg");
}

.project-seraph {
  background-image: url("./assets/home/mobile/image-hero-seraph.jpg");
}

.project-federal {
  background-image: url("./assets/home/mobile/image-hero-federal.jpg");
}

.project-trinity {
  background-image: url("./assets/home/mobile/image-hero-trinity.jpg");
}

@media (min-width: 600px) {
  .project-paramour {
    background-image: url("./assets/home/tablet/image-hero-paramour.jpg");
  }

  .project-seraph {
    background-image: url("./assets/home/tablet/image-hero-seraph.jpg");
  }

  .project-federal {
    background-image: url("./assets/home/tablet/image-hero-federal.jpg");
  }

  .project-trinity {
    background-image: url("./assets/home/tablet/image-hero-trinity.jpg");
  }
}

@media (min-width: 1200px) {
  .project-paramour {
    background-image: url("./assets/home/desktop/image-hero-paramour.jpg");
  }

  .project-seraph {
    background-image: url("./assets/home/desktop/image-hero-seraph.jpg");
  }

  .project-federal {
    background-image: url("./assets/home/desktop/image-hero-federal.jpg");
  }

  .project-trinity {
    background-image: url("./assets/home/desktop/image-hero-trinity.jpg");
  }
}

/* featured section */

.featured-container {
  display: grid;
}

.portfolio--project {
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  color: var(--white);
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 0.01%,
    rgba(0, 0, 0, 0.499044) 100%
  );
}

/* welcome */
